[submodule "Shared"]
	path = Shared
	url = git@github.com:AlgorithmEasy/Shared.git
[submodule "StudentSide"]
	path = StudentSide
	url = git@github.com:AlgorithmEasy/StudentSide.git
[submodule "Server.UserCenter"]
	path = Server.UserCenter
	url = git@github.com:AlgorithmEasy/Server.UserCenter.git
[submodule "Server.ProjectCenter"]
	path = Server.ProjectCenter
	url = git@github.com:AlgorithmEasy/Server.ProjectCenter.git
[submodule "Server.CourseCenter"]
	path = Server.CourseCenter
	url = git@github.com:AlgorithmEasy/Server.CourseCenter.git
[submodule "Server.ProgramExecutionCenter"]
	path = Server.ProgramExecutionCenter
	url = git@github.com:AlgorithmEasy/Server.ProgramExecutionCenter.git
